.home {
  /* padding-top: 100px; */
  position: relative;
}
.home__container {
  height: fit-content;
}
.home__img__1 {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  /* display: inline-block; */
  /* position: relative; */
  background-color: #45c0df;
}
.home__img-info {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* top: -50%; */
  flex-direction: column;
  z-index: 1;
}
.home__sp__1 {
  margin-top: 20px;
  position: relative;
}
.home__sp__1-title {
  align-items: center;
  text-align: center;
  border: 1px solid;
  padding: 5px;
  text-transform: uppercase;
  background-color: var(--backgroundMenu);
}
.home__sp__1-product {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-product);
}
.home__category {
  width: 300px;
  float: left;
}
.slide-container {
  margin-left: 300px;
}

.home__product {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-product);
}
