.product {
  /* display: flex; */
  position: relative;
  margin: 10px 5px;
  padding: 20px 10px;
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid #a7a1a1;
}
.product:hover {
  /* display: flex; */

  box-shadow: 2px 1px 2px 2px gray;
  cursor: pointer;
}
.product > img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 10px;
}
.product__title {
  font-size: 20px;
  font-weight: 600;
}
.product__sale {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3adbd3;
  padding: 10px;
}
.product__price {
  display: flex;
  justify-content: space-between;

  /* float: left; */
}
.product__price__goc {
  font-size: 16px;
  margin: 2px 0;
  text-decoration: line-through;
}
.product__price__sale {
  float: left;
}
.product__price > small {
  font-weight: 800;
}
.product__rating > img {
  object-fit: contain;
  max-width: 20px;
}

.product > button {
  align-items: center;
  border: 1px solid #3adbd3;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 30%;
}
.product > button:focus {
  outline: 0;
}
.product > button:hover {
  background-color: rgb(106, 194, 216);
  /* outline: 0; */
}
